<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <%= stylesheet_link_tag "/stylesheets/admin/style" %>
    <%= stylesheet_link_tag "/bootstrap/css/bootstrap.min" %>
    <%= stylesheet_link_tag "/bootstrap/css/bootstrap-datetimepicker.min" %>
    <link href="/bootstrap/less/datetimepicker.less">
    <script src="/javascript/jquery-1.12.1.min.js" type="text/javascript"></script>
    <script src="/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/bootstrap/js/bootstrap-datetimepicker.js" type="text/javascript"></script>
    <script src="/bootstrap/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <script src="/bootstrap/js/bootstrap-datetimepicker.fr.js" type="text/javascript"></script>
    <link href="/bootstrap/fonts/glyphicons-halflings-regular.eot">
    <link href="/bootstrap/fonts/glyphicons-halflings-regular.svg">
    <link href="/bootstrap/fonts/glyphicons-halflings-regular.ttf">
    <link href="/bootstrap/fonts/glyphicons-halflings-regular.woff">
  </head>
  <body>
    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
